.App {
  text-align: center;
}

.App-logo {
  height: 35vmin;
  
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.flexbox-contain {
  width: 800px;
  height: 1000px;
  display: flex;
  flex-direction: row;
  overflow-wrap: normal;
  align-items: center;
  resize: horizontal;
  background-color: rgb(138, 83, 83);
  
  
}
.hii{
  flex-direction: column;
  background-color: blue;
}
.hh{
  height: 350px;
  flex-direction: column;
  background-color: rgb(93, 189, 206);
}
img{
  height: 350px;
}


